*.swp
main
**/mars.bin
**/mars.rom
games/mars/*.spr
assembler
convertsprite
**/pong.bin
compiler/tests/*.asm
compiler/compiler
compiler/tests/*.bin
**/pong2.bin
**/pong2.asm
**/tetris.asm
**/tetris.bin
**/paint.bin
**/paint.asm
**/paint.rom
games/paint/*.spr
**/breakout.asm
**/breakout.bin
**/fallen.bin
**/fallen.asm
**/fallen.rom
games/fallen/*.spr
games/fallen/mapdata
**/pong3.bin
*.opt.asm
**/lines.bin
**/lines.asm
