*.swp
main
**/mars.bin
**/mars.rom
games/mars/*.spr
assembler
convertsprite
**/pong.bin
compiler/tests/*.asm
compiler/compiler
compiler/tests/*.bin
**/pong2.bin
**/pong2.asm
**/tetris.asm
**/tetris.bin

