*.swp
main
**/mars.vaporbin
**/mars.rom
games/mars/*.spr
assembler
convertsprite
**/pong.vaporbin
compiler/tests/*.asm
compiler/compiler
compiler/tests/*.vaporbin
**/pong2.vaporbin
**/pong2.asm
**/tetris.asm
**/tetris.vaporbin
**/paint.vaporbin
**/paint.asm
**/paint.rom
games/paint/*.spr
**/breakout.asm
**/breakout.vaporbin
**/fallen.vaporbin
**/fallen.asm
**/fallen.rom
games/fallen/*.spr
games/fallen/mapdata
**/pong3.vaporbin
*.opt.asm
**/lines.vaporbin
**/lines.asm
vs/Debug
vs/Release
VaporSpec.sdf
VaporSpec.opensdf
**/spritetest.asm
**/spritetest.vaporbin
**/spritetest.rom
**/test1.spr
**/test2.spr
**/test3.spr
.suo
**.VC.db
**.user